In [1]:
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
data = pd.read_csv("donors.csv", header=None, sep=',')

In [11]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,466,467,468,469,470,471,472,473,474,475
0,NaN,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
1,0.0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,...,7.7419354839,95515,0,L,4,E,X,X,X,C
2,1.0,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,...,15.666666667000001,148535,0,L,2,G,X,X,X,A
3,2.0,2010-01-01,AMH,1,NC,27017,,,NaN,0,...,7.4814814814999995,15078,1,L,4,E,X,X,X,C
4,3.0,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,...,6.8125,172556,1,L,4,E,X,X,X,C

In [12]:
data.columns

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            466, 467, 468, 469, 470, 471, 472, 473, 474, 475],
           dtype='int64', length=476)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95413 entries, 0 to 95412
Columns: 476 entries, 0 to 475
dtypes: float64(1), object(475)
memory usage: 346.5+ MB